<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/HarmHero/Google Drive/Solid Ingenuity/_projecten/[SI-2014-02] BarCodeScanner POC (XIPIO)/BarCodeScannerPOC/BarCodeScannerPOC.xcodeproj</string>
</dict>
</plist>
